body {
	background-image:url(/images/arkaplan.jpg);
    background-position: fixed;
}
.conatiner{
	padding:20px;
	margin: auto;
    background-color: white;
    border-radius:  10px/10px;
}

.cards{
   padding:0;
   margin: 150px;
   outline: 0;
}



input {
	width: 79%;
}


.btn-primary {
	width: 89px;
}


#a {
	margin:30px 30px;
	text-align:center; 
}

.bg-dark {
    background-color: #BDBDBD!important;
}

 .navbar {
	    padding-left: 150px;

}

.btn {
	margin-right: 150px;

}

.bold {
	font-size:15px;
	padding-top: 18px;
}

label {
	display:inline;
}

.img {
	width:40px;
	height:40px;
	border-radius:60%;
}

.mode-x {
	color: white;
    /*padding-bottom: 15px; */
    font-size: 18px;
    padding-bottom: 7px;
}

.nav-link {
	padding-right:10px:
	padding-bottom:10px; 
}
.text-x {
	padding-bottom: 30px;
}

.nav-item {
	    list-style-type: none;
}

.dropdown-toggle {
	color: white;
    font-size: 18px;
}

.img_setts {
	width: 300px;
    height: 300px;
}

.inline {
	display: inline-block;
    margin-top: -24px;
    margin-right: 49px;
    float: right;
    padding-bottom: 53px;
    
}

.outline {
	margin:auto 30px;
}